---
layout: default
---
<!-- _layouts/teaching.html -->
        <div class="post">

			<header class="post-header">
				<h1 class="post-title">{{ page.title }}</h1>
				<p class="post-description">{{ page.description }}</p>
			</header>

			<article>
				<div class="teaching">

					<!-- ## Courses -->

					{% if site.data.teaching.courses %}
						<div class="card mt-3 p-3">
							<h3 class="card-title font-weight-medium">Courses</h3>
								<ul class="card-text font-weight-light list-group list-group-flush">
									{% for course in site.data.teaching.courses %}
									<li class="list-group-item">
										<div class="row">
								            <div class="col-xs-2 cl-sm-2 col-md-2 text-center" style="width: 75px;">
												<span class="badge font-weight-bold danger-color-dark text-uppercase align-middle" style="min-width: 75px;">
													{{ course.semester }}
												</span>
											</div>
	 							            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
									            <h6 class="title font-weight-bold ml-1 ml-md-4">{{ course.code }}, {{course.title}}</h6>
									            <h6 class="ml-1 ml-md-4" style="font-size: 0.95rem;">{{ course.institution }}</h6>
									        </div>
										</div>
									</li>
									{% endfor %}
								</ul>
						</div>
					{% endif %}


					<!-- ## Students -->

					{% if site.data.teaching.students %}
						<div class="card mt-3 p-3">
							<h3 class="card-title font-weight-medium">Students</h3>
								<ul class="card-text font-weight-light list-group list-group-flush">
									{% for student in site.data.teaching.students %}
									<li class="list-group-item">
										<div class="row">
	 							            <div class="col-xs-10 cl-sm-10 col-md-10 mt-2 mt-md-0">
									            <h6 class="title font-weight-bold ml-1 ml-md-4 bullet">
									            	<a href="{{ student.url }}">{{ student.name }}</a>
									            </h6>
									        </div>
										</div>
									</li>
									{% endfor %}
								</ul>
						</div>
					{% endif %}

				</div>
			</article>
		</div>